@use '../theme/var.scss' as *;

.root-view{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .sidebar{
    width: 3.75rem;
    border-right: getCssVar('border');
    .sidebar-item{
      @include main-text;
      padding: .125rem;

    }
  }
  .router-view{
    flex: 1;
  }
  .app-container{
    padding: getCssVar('gap-medium');
  }
}